# Base de Datos MySQL
DB_HOST=tu_host_mysql
DB_USER=root
DB_PASSWORD=tu_contraseña
DB_NAME=sirec
DB_PORT=3306

# Puerto del servidor
PORT=3000

# Email (Nodemailer)
EMAIL_USER=tu_correo@gmail.com
EMAIL_APP_PASSWORD=tu_app_password
